@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #1b1b22;
    --foreground: #ffffff;

    --card: #ffffff;
    --card-foreground: #09090b;

    --popover: #ffffff;
    --popover-foreground: #09090b;

    --primary: #993333;
    --primary-foreground: #fff1f2;

    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;

    --muted: #f4f4f5;
    --muted-foreground: #71717a;

    --accent: #f4f4f5;
    --accent-foreground: #18181b;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --border: #e4e4e7;
    --input: #e4e4e7;

    --ring: #3e3232;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

.notion-frame {
  @apply bg-background;
  padding: 0 0 !important;
  .notion-header {
    background-color: rgb(23, 23, 29);
    top: 56px;
    z-index: 1;
  }
}
